<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhua.rtb.mapper.ColumnMapper">

	<resultMap id="BaseResultMap" type="com.yanhua.rtb.entity.Column">
			<id column="column_id" property="columnId" />

			<result column="template_id" property="templateId" />

			<result column="area_id" property="areaId" />

			<result column="bg_photo" property="bgPhoto" />

			<result column="column_name" property="columnName" />

			<result column="par_column_id" property="parColumnId" />

			<result column="level" property="level" />

			<result column="column_order" property="columnOrder" />

			<result column="subtitle" property="subtitle" />

			<result column="backgroung_img" property="backgroungImg" />

			<result column="create_time" property="createTime" />

			<result column="update_time" property="updateTime" />

	</resultMap>
	<sql id="Base_Column_List">
		column_id, template_id, area_id, bg_photo, column_name, par_column_id, level, column_order, subtitle, backgroung_img, create_time, update_time
	</sql>
	
</mapper>