<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhua.rtb.mapper.ElementMapper">

	<resultMap id="BaseResultMap" type="com.yanhua.rtb.entity.Element">

		    <id column="element_id" property="elementId" />

			<result column="column_id" property="columnId" />

			<result column="element_name" property="elementName" />

			<result column="element_type" property="elementType" />

			<result column="template_id" property="templateId" />

			<result column="content_spxl_id" property="contentSpxlId" />

			<result column="images_type" property="imagesType" />

			<result column="element_img" property="elementImg" />

			<result column="element_img_h" property="elementImgH" />

			<result column="element_order" property="order" />

			<result column="create_time" property="createTime" />

			<result column="update_time" property="updateTime" />

	</resultMap>
	<sql id="Base_Column_List">
		column_id, element_id, element_name, element_type, template_id, content_spxl_id, images_type, element_img, element_img_h, element_order, create_time, update_time
	</sql>

	<resultMap id="BaseElementResult" type="com.yanhua.rtb.vo.ElementVo">

		<id column="element_id2" property="elementId" />

		<result column="column_id2" property="columnId" />

		<result column="element_name2" property="elementName" />

		<result column="element_type2" property="elementType" />

		<result column="template_id2" property="templateId" />

		<result column="content_spxl_id2" property="contentSpxlId" />

		<result column="images_type2" property="imagesType" />

		<result column="element_img2" property="elementImg" />

		<result column="element_img_h2" property="elementImgH" />

		<result column="element_order2" property="elementOrder" />

		<result column="create_time2" property="createTime" />

		<result column="update_time2" property="updateTime" />
		<association property="eleTemplateVo" javaType="com.yanhua.rtb.vo.TemplateVo">
			<id column="template_id5" property="templateId" />

			<result column="template_code5" property="templateCode" />

			<result column="template_title5" property="templateTitle" />

			<result column="create_time5" property="createTime" />

			<result column="update_time5" property="updateTime" />
		</association>
		<association property="contentSpxlVo" javaType="com.yanhua.rtb.vo.ContentSpxlVo">
			<id column="id6" property="id" />

			<result column="serial_no6" property="serialNo" />

			<result column="operation6" property="operation" />

			<result column="content_id6" property="contentId" />

			<result column="copyright_id6" property="copyrightId" />

			<result column="song_id6" property="songId" />

			<result column="content_name6" property="contentName" />

			<result column="spid6" property="spid" />

			<result column="cont_type6" property="contType" />

			<result column="para16" property="para1" />

			<result column="publish_time6" property="publishTime" />

			<result column="valid_date6" property="validDate" />

			<result column="grant_type6" property="grantType" />

			<result column="use_area6" property="useArea" />

			<result column="spread_channel6" property="spreadChannel" />

			<result column="grant_times6" property="grantTimes" />

			<result column="create_time6" property="createTime" />

			<result column="end_date6" property="endDate" />

			<result column="online_date6" property="onlineDate" />

			<result column="format6" property="format" />

			<result column="fee_type6" property="feeType" />

			<result column="hightest_price6" property="hightestPrice" />

			<result column="lowest_price6" property="lowestPrice" />

			<result column="suggest_price6" property="suggestPrice" />

			<result column="discount6" property="discount" />

			<result column="discount_desc6" property="discountDesc" />

			<result column="settlement_param6" property="settlementParam" />

			<result column="discount_settlement_param6" property="discountSettlementParam" />

			<result column="spxl_range6" property="spxlRange" />

			<result column="terminal_type6" property="terminalType" />

			<result column="channel_ability6" property="channelAbility" />

			<result column="cont_level6" property="contLevel" />

			<result column="listen_file_path6" property="listenFilePath" />

			<result column="send_file_path16" property="sendFilePath1" />

			<result column="label6" property="label" />

			<result column="price6" property="price" />

			<result column="spproductid6" property="spproductid" />

			<result column="single6" property="single" />

			<result column="ability6" property="ability" />

			<result column="send_file_path26" property="sendFilePath2" />

			<result column="fore_show6" property="foreShow" />

			<result column="wapicon6" property="wapicon" />

			<result column="wwwicon6" property="wwwicon" />

			<result column="poster6" property="poster" />

			<result column="ver_poster6" property="verPoster" />

			<result column="screenshot6" property="screenshot" />

			<result column="descripiton6" property="descripiton" />

			<result column="source_company6" property="sourceCompany" />

			<result column="source_cp_id6" property="sourceCpId" />

			<result column="video_level6" property="videoLevel" />

			<result column="cp_id6" property="cpId" />

			<result column="attribution6" property="attribution" />

			<result column="operator6" property="operator" />
			<collection property="fileList" ofType="com.yanhua.rtb.vo.ContentSpxlDetailVo" select="com.yanhua.rtb.mapper.ContentSpxlDetailMapper.getContentSpxlDetailResult" column="content_id6=content_id6"/>
		</association>
	</resultMap>

	<select id="getElementResult" resultMap="BaseElementResult">
		select c.element_id as element_id2,
		    c.column_id as column_id2,
		    c.element_name as element_name2,
		    c.element_type as element_type2,
		    c.template_id as template_id2,
		    c.content_spxl_id as content_spxl_id2,
		    c.images_type as images_type2,
		    c.element_img as element_img2,
		    c.element_img_h as element_img_h2,
		    c.element_order as element_order2,
		    c.create_time as create_time2,
		    c.update_time as update_time2,
		    g.template_id as template_id5,
		    g.template_code AS template_code5,
	        g.template_title AS template_title5,
	        g.create_time AS create_time5,
	        g.update_time AS update_time5,
	        h.id as id6,
	        h.serial_no as serial_no6,
	        h.operation as operation6,
	        h.content_id as content_id6,
	        h.copyright_id as copyright_id6,
	        h.song_id as song_id6,
	        h.content_name as content_name6,
	        h.spid as spid6,
	        h.cont_type as cont_type6,
	        h.para1 as para16,
	        h.publish_time as publish_time6,
	        h.valid_date as valid_date6,
	        h.grant_type as grant_type6,
	        h.use_area as use_area6,
	        h.spread_channel as spread_channel6,
	        h.grant_times as grant_times6,
	        h.create_time as create_time6,
	        h.end_date as end_date6,
	        h.online_date as online_date6,
	        h.format as format6,
	        h.fee_type as fee_type6,
	        h.hightest_price as hightest_price6,
	        h.lowest_price as lowest_price6,
	        h.suggest_price as suggest_price6,
	        h.discount as discount6,
	        h.discount_desc as discount_desc6,
	        h.settlement_param as settlement_param6,
	        h.discount_settlement_param as discount_settlement_param6,
	        h.spxl_range as spxl_range6,
	        h.terminal_type as terminal_type6,
	        h.channel_ability as channel_ability6,
	        h.cont_level as cont_level6,
	        h.listen_file_path as listen_file_path6,
	        h.send_file_path1 as send_file_path16,
	        h.label as label6,
	        h.price as price6,
	        h.spproductid as spproductid6,
	        h.single as single6,
	        h.ability as ability6,
	        h.send_file_path2 as send_file_path26,
	        h.fore_show as fore_show6,
	        h.wapicon as wapicon6,
	        h.wwwicon as wwwicon6,
	        h.poster as poster6,
	        h.ver_poster as ver_poster6,
	        h.screenshot as screenshot6,
	        h.descripiton as descripiton6,
	        h.source_company as source_company6,
	        h.source_cp_id as source_cp_id6,
	        h.video_level as video_level6,
	        h.cp_id as cp_id6,
	        h.attribution as attribution6,
	        h.operator as operator6


		from
		element c
		LEFT JOIN template g on g.template_id = c.template_id
		LEFT JOIN content_spxl h on h.content_id = c.content_spxl_id
		where c.column_id = #{columnId1,jdbcType=INTEGER}
		order by c.element_order
	</select>
	
</mapper>