<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhua.rtb.mapper.RColumnMapper">

	<resultMap id="BaseResultMap" type="com.yanhua.rtb.entity.RColumn">
		<id column="column_id" property="columnId" />

		<result column="template_id" property="templateId" />

		<result column="channe_id" property="channelId" />

		<result column="bg_photo" property="bgPhoto" />

		<result column="column_name" property="columnName" />

		<result column="par_column_id" property="parColumnId" />

		<result column="level" property="level" />

		<result column="column_order" property="columnOrder" />

		<result column="subtitle" property="subtitle" />

		<result column="background_img" property="backgroundImg" />

		<result column="create_time" property="createTime" />

		<result column="update_time" property="updateTime" />

	</resultMap>

	<resultMap id="BasePlusResultMap" type="com.yanhua.rtb.vo.ColumnVo">
		<id column="column_id" property="columnId" />

		<result column="template_id" property="templateId" />

		<result column="channel_id" property="channelId" />

		<result column="bg_photo" property="bgPhoto" />

		<result column="column_name" property="columnName" />

		<result column="par_column_id" property="parColumnId" />

		<result column="level" property="level" />

		<result column="column_order" property="columnOrder" />

		<result column="subtitle" property="subtitle" />

		<result column="background_img" property="backgroundImg" />

		<result column="create_time" property="createTime" />

		<result column="update_time" property="updateTime" />
		<association property="colTemplateVo" javaType="com.yanhua.rtb.vo.TemplateVo" >
			<id column="template_id3" property="templateId" />

			<result column="template_code3" property="templateCode" />

			<result column="template_title3" property="templateTitle" />

			<result column="create_time3" property="createTime" />

			<result column="update_time3" property="updateTime" />
		</association>
		<collection property="templetVoList" ofType="com.yanhua.rtb.vo.TempletVo" >
			<id column="columnId1" property="columnId" />

			<result column="templateId1" property="templateId" />

			<result column="channelId1" property="channelId" />

			<result column="bgPhoto1" property="bgPhoto" />

			<result column="columnName1" property="columnName" />

			<result column="parColumnId1" property="parColumnId" />

			<result column="level1" property="level" />

			<result column="columnOrder1" property="columnOrder" />

			<result column="subtitle1" property="subtitle" />

			<result column="backgroundImg1" property="backgroundImg" />

			<result column="createTime1" property="createTime" />

			<result column="updateTime1" property="updateTime" />
			<association property="temTemplateVo" javaType="com.yanhua.rtb.vo.TemplateVo" >
				<id column="template_id4" property="templateId" />

				<result column="template_code4" property="templateCode" />

				<result column="template_title4" property="templateTitle" />

				<result column="create_time4" property="createTime" />

				<result column="update_time4" property="updateTime" />
			</association>
			<collection property="elementVoList" ofType="com.yanhua.rtb.vo.ElementVo" select="com.yanhua.rtb.mapper.ElementMapper.getElementResult" column="columnId1=columnId1"/>
		</collection>
	</resultMap>

	<!--	<resultMap id="BaseElementResult" type="com.yanhua.rtb.vo.ElementVo">-->

	<!--			<id column="element_id2" property="elementId" />-->

	<!--			<result column="column_id2" property="columnId" />-->

	<!--			<result column="element_name2" property="elementName" />-->

	<!--			<result column="element_type2" property="elementType" />-->

	<!--			<result column="template_id2" property="templateId" />-->

	<!--			<result column="images_type2" property="imagesType" />-->

	<!--			<result column="element_img2" property="elementImg" />-->

	<!--			<result column="elementImg_h2" property="elementImgH" />-->

	<!--			<result column="order2" property="order" />-->

	<!--			<result column="create_time2" property="createTime" />-->

	<!--			<result column="update_time2" property="updateTime" />-->
	<!--	</resultMap>-->

	<sql id="Base_Column_List">
		column_id, template_id,channel_id, bg_photo, column_name, par_column_id, level, column_order, subtitle, background_img, create_time, update_time
	</sql>


	<!--	<select id="getElementResult" resultMap="BaseElementResult">-->
	<!--		select c.element_id as element_id2,-->
	<!--		    c.column_id as column_id2,-->
	<!--		    c.element_type as element_type2,-->
	<!--		    c.template_id as template_id2,-->
	<!--		    c.images_type as images_type2,-->
	<!--		    c.element_img as element_img2,-->
	<!--		    c.elementImg_h as elementImg_h2,-->
	<!--		    c.order as order2,-->
	<!--		    c.create_time as create_time2,-->
	<!--		    c.update_time as update_time2-->
	<!--		from element c where c.column_id = #{columnId1,jdbcType=INTEGER}-->
	<!--		order by c.element_id-->
	<!--	</select>-->

	<select id="getByAreaIdAndColumnId" resultMap="BasePlusResultMap" >
        SELECT
	a.*,
	b.column_id AS columnId1,
	b.template_id AS templateId1,
	b.channel_id AS channelId1,
	b.bg_photo AS bgPhoto1,
	b.column_name AS columnName1,
	b.par_column_id AS parColumnId1,
	b.LEVEL AS level1,
	b.column_order AS columnOrder1,
	b.subtitle AS subtitle1,
	b.background_img AS backgroundImg1,
	b.create_time AS createTime1,
	b.update_time AS updateTime1,
	d.template_id AS template_id3,
	d.template_code AS template_code3,
	d.template_title AS template_title3,
	d.create_time AS create_time3,
	d.update_time AS update_time3,
	f.template_id AS template_id4,
	f.template_code AS template_code4,
	f.template_title AS template_title4,
	f.create_time AS create_time4,
	f.update_time AS update_time4
FROM
	`r_column` a
	LEFT JOIN template d ON d.template_id = a.template_id
	LEFT JOIN `r_column` b ON b.par_column_id = a.column_id
	LEFT JOIN template f ON f.template_id = b.template_id
WHERE
		a.channel_id = #{areaId,jdbcType=INTEGER}
		AND a.column_id = #{columnId,jdbcType=INTEGER}
        order by b.column_order desc, b.update_time desc
	</select>
	<!--	<select id="getByAreaIdAndColumnId" resultMap="BasePlusResultMap" >-->
	<!--        SELECT-->
	<!--		a.*, b.column_id AS columnId1 , b.template_id AS templateId1,b.area_id AS areaId1, b.bg_photo AS bgPhoto1, b.column_name AS columnName1, b.par_column_id AS parColumnId1, b.level AS level1, b.column_order AS columnOrder1, b.subtitle AS subtitle1, b.background_img AS backgroundImg1, b.create_time AS createTime1, b.update_time AS updateTime1-->
	<!--	FROM-->
	<!--		`column` a-->
	<!--		LEFT JOIN `column` b ON b.par_column_id = a.column_id-->
	<!--	WHERE-->
	<!--		a.area_id = #{areaId,jdbcType=INTEGER}-->
	<!--		AND a.column_id = #{columnId,jdbcType=INTEGER}-->
	<!--	GROUP BY-->
	<!--	b.column_id-->
	<!--	</select>-->

</mapper>